.root {
  box-shadow: 0 64px 182px -64px rgba(0, 0, 0, .3);
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    box-shadow: 0 0 42px 36px #000;
    content: '';
    display: block;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 3;
  }
}

.title {
  @include inuit-font-size($inuit-font-size-h1 + 8);
  color: $soft-white;
  font-weight: 400;
  left: 50%;
  max-width: 800px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -80%);
  z-index: 3;
}

.image {
  height: calc(100vh - 240px);
  object-fit: cover;
  object-position: bottom center;
  width: 100%;
}
