
{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "flowtype",
    "react-hooks"
  ],
  "rules": {
    "function-paren-newline": "off",
    "flowtype/delimiter-dangle": ["error", "always-multiline"],
    "flowtype/semi": "error",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": ["error", { "ignore": [
      "react-loadable.json"
    ] }],
    "import/order": ["error", { "groups": ["builtin", "external", "parent", "sibling", "index"] }],
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": ["error", {
      "labelAttributes": ["htmlFor"],
      "labelComponents": ["label"]
    }],
    "no-use-before-define": ["error", { "functions": false }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": ["error", { "forbidDefaultForRequired": false }],
    "react/default-props-match-prop-types": ["error", { "allowRequiredDefaults": true }],
    "react/jsx-sort-props": ["error", {
      "callbacksLast": true,
      "ignoreCase": true,
      "reservedFirst": true,
      "noSortAlphabetically": true
    }],
    "react-hooks/rules-of-hooks": "error",
    "sort-keys": ["error", "asc"]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}