.root {
  composes: uMarginRight from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: root from '../../_objects.input-group.scss';
  composes: tertaryBg from '../../_utilities.theme.scss';
  border-radius: 4px;
  overflow: hidden;
}

.inputs {
  composes: uPaddingHorizontalTiny from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: input from '../../_objects.input-group.scss';
  background: transparent;
  border: none;
  padding-bottom: 4px;
  padding-top: 4px;
}

.input {
  composes: inputs;
  @include inuit-font-size($inuit-font-size-h6 - 4);
  font-weight: bold;
}

.button {
  composes: inputs;
  cursor: pointer;
}

.icon {
  fill: var(--black);
  vertical-align: middle;
}