.root {
  composes: root from '../../_objects.input-group.scss';
  border-radius: 3px;
  overflow: hidden;
}

.inputs {
  composes: uPaddingHorizontalTiny from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: input from '../../_objects.input-group.scss';
  border: none;
  padding-bottom: 4px;
  padding-top: 4px;
}

.input {
  composes: inputs;
  composes: fontStageTwo from '../../_utilities.fout.scss';
  @include inuit-font-size($inuit-font-size-h6 - 4);
  font-weight: bold;
}

.button {
  composes: inputs;
  background-color: #fff;
}

.icon {
  fill: #000;
  vertical-align: middle;
}