.root {
  background-color: gray;
  border-radius: 12px;
  padding: 12px 0 24px;
}

.body {
  composes: tertaryBg from '../../_utilities.theme.scss';
  clip-path: url(#clip-player-card-body);
}

.body-inner {
  padding: 6% 4%;
}

.shadow {
  filter: url(#inner-shadow);
}

.hex {
  clip-path: url(#clip-hexagone);
}

.ratio {
  height: 0;
  margin-top: 2%;
  padding-top: 99%;
}

.image {
  display: block;
  width: 100%;
}