.root {
  background: linear-gradient(
    to right,
    #9fbdbf 0%,
    #90acaf 25%,
    #9fbdbf 45%,
    #9fbdbf 65%,
    #90acaf 75%,
    #9fbdbf 100%
  );
  background-color: $dark-slate-gray;
  padding: 8px;
}

.inner {
  background-color: rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .4);
  padding: 16px;
}

.wrapper {
  position: relative;
}

.outer-shadow {
  filter: drop-shadow(0 0 2px transparentize($black, .6));
}

.outer-shape {
  background: linear-gradient(
    to right,
    rgba(159,189,191,1) 0%,
    rgba(60,70,71,1) 20%,
    rgba(159,189,191,1) 40%,
    rgba(159,189,191,1) 60%,
    rgba(60,70,71,1) 80%,
    rgba(159,189,191,1) 100%
  );
  background-color: $dark-slate-gray;
  clip-path: polygon(93% 0, 100% 7%, 100% 86%, 50% 100%, 0 86%, 0 7%, 7% 0);
  padding: 8px;
}

.inner-shape {
  background-color: transparentize($black, .3);
  clip-path: polygon(95% 0, 100% 5%, 100% 86%, 50% 100%, 0 86%, 0 5%, 5% 0);
  position: relative;
}

.bio {
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.45) 20%,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.45) 80%,
    rgba(0,0,0,0) 100%
  );
  background-color: $dark-slate-gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  padding: 4px;
  text-align: center;
  transform: translateY(-16px);
}

.name {
  background-color: transparentize($black, .3);
  color: $dark-slate-gray;
  display: block;
  font-weight: bold;
  padding: 4px 0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.team {
  left: 8px;
  min-width: 30px;
  position: absolute;
  top: 8px;
  width: 25%;
  z-index: 1;
}

.pos {
  background-color: transparentize($black, .3);
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}