.image {
  height: calc(100vh - 240px);
  object-fit: cover;
  object-position: bottom center;
  width: 100%;
}

.pre {
  composes: image;
}

.ratio {
  background-color: var(--black);
  height: calc(100vh - 240px);
}
