.root {
  composes: tertaryBg from '../_utilities.theme.scss';
  --tertary-light: 88%;
}

.link {
  composes: tertary from '../_utilities.theme.scss';
  --tertary-light: 64%;
  color: var(--tertary);
  display: block;
  font-weight: var(--bold);
  transition: color .2s;

  &:not(:hover) {
    text-decoration: none;
  }
}

.q {
  composes: primary from '../_utilities.theme.scss';
  color: var(--primary);
}

.active {
  composes: primary from '../_utilities.theme.scss';
  color: var(--primary);

  &:hover {
    text-decoration: none;
  }
}

.title {
  composes: uMarginBottom from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: fontHeadline from '../_utilities.fonts.scss';
  composes: h1 from '../_utilities.fonts.scss';
}
