.root {
  composes: tertaryBg from '../_utilities.theme.scss';
  --tertary-light: 24%;
}

.link {
  color: var(--soft-white);
  display: block;
  transition: color .2s;
  
  &:not(:hover) {
    text-decoration: none;
  }
}

.active {
  composes: secondary from '../_utilities.theme.scss';
  color: var(--secondary);
}

.title {
  composes: tertaryBg from '../_utilities.theme.scss';
  composes: uMarginBottom from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: fontHeadline from "../_utilities.fonts.scss";
  @include inuit-font-size($inuit-font-size-h2);
  --tertary-light: 24%;
  color: var(--soft-white);
}