.root {
  composes: uPaddingTop from 'inuitcss/utilities/_utilities.spacings.scss';
  background-color: #f9f9f9;
  min-height: 500px;
}

.list {
  composes: oListBare from 'inuitcss/objects/_objects.list-bare.scss';
  display: grid;
  grid-gap: $inuit-global-spacing-unit;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}