.root {
  background: var(--black);
  height: 54px;
}

.link {
  color: var(--soft-white);
  display: block;
  transition: color .2s;
  
  &:not(:hover) {
    text-decoration: none;
  }
}

.active {
  composes: secondary from '../../_utilities.theme.scss';
  color: var(--secondary);
}

.fixed {
  background: var(--black);  
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .4);
  height: inherit;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.wrapper {
  composes: oWrapper from 'inuitcss/objects/_objects.wrapper.scss';
  composes: uPaddingVerticalSmall from 'inuitcss/utilities/_utilities.spacings.scss';
  @include inuit-clearfix();
  align-items: center;
  display: grid;
  grid-column-gap: 24px;
  grid-template-columns: 50px auto 1fr;
}

.list {
  composes: oListInline from 'inuitcss/objects/_objects.list-inline.scss';
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.right {
  justify-content: flex-end;
}
