.root {
  float: right;
  margin-bottom: 0;
}

.icon {
  composes: primaryBg from '../_utilities.theme.scss';
  border-radius: 50%;
  display: block;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;
}

.picto {
  composes: secondary from '../_utilities.theme.scss';
  fill: var(--secondary);
  height: 28px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 28px;
  z-index: 1;
}
