.cover {
  position: relative;
  box-shadow: 0 64px 182px -64px rgba(0, 0, 0, .3);
  overflow: hidden;

  &::before {
    content: '';
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 42px 36px #000;
    display: block;
  }

  + .content {
    transform: translateY(-62px);
  }
}

.title {
  @include inuit-font-size($inuit-font-size-h1 + 8);
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  text-align: center;
  font-weight: 100;
  max-width: 800px;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 240px);
  object-position: bottom center;
}
