.root {
  --background: hsl(
    var(--tertary-hue),
    var(--tertary-sat),
    21%
  );
  --body-background: hsl(
    var(--tertary-hue),
    var(--tertary-sat),
    91%
  );
  --position-color: hsl(
    var(--tertary-hue),
    var(--tertary-sat),
    60%
  );
  background-color: var(--background);
  border-radius: 12px;
  padding-top: 12px;
}

.bio {
  composes: uPaddingVerticalSmall from 'inuitcss/utilities/_utilities.spacings.scss';
  color: var(--text-color-light);
  position: relative;
  text-align: center;
  text-decoration: none;
}

.body {
  background-color: var(--body-background);
  clip-path: url(#clip-player-card-body);
}

.body-inner {
  padding: 6% 4%;
}

.shadow {
  filter: url(#inner-shadow);
}

.hexagone {
  clip-path: url(#clip-hexagone);
}

.ratio {
  height: 0;
  margin-top: 2%;
  padding-top: 99%;
}

.image {
  display: block;
  width: 100%;
}

.position {
  color: var(--position-color);
  text-transform: uppercase;
}

.team {
  display: inline-block;
  height: 44px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -30px);
  width: 44px;
}