html {
  background-color: var(--color-background);
  color: var(--color-soft-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-body {
  composes: fontBody from '../_utilities.fonts.scss';
}