.html {
  color: var(--soft-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-body {
  composes: fontBody from '../_utilities.fonts.scss';
}

.bg {
  composes: bg from '../_objects.background.scss';
  background-color: var(--bg);
}