.html {
  color: var(--soft-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-body {
  composes: fontBody from '../_utilities.fonts.scss';
}

.bg {
  composes: tertaryBg from '../_utilities.theme.scss';
}