///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$inuit-wrapper-width: 1132px;

$inuit-font-size-h1:  36px;
$inuit-font-size-h2:  28px;
$inuit-font-size-h3:  24px;
$inuit-font-size-h4:  20px;
$inuit-font-size-h5:  18px;
$inuit-font-size-h6:  16px;

$global-font-family: 'Lora', serif !default;

$global-radius: 3px !default;



// Colors

$white: rgba(255, 255, 255, .9) !default;
$black: rgba(0, 0, 0, .9) !default;

// http://colormind.io/image/

$navy:              #436C9F !default;
$midnight-blue:     #061221 !default;
$cadet-blue:        #306C6C !default;
$dark-slate-gray:   #9FBDBF !default;
$dark-slate-green:  #4B998A !default;



// Mixins

@mixin font-family() {
  font-family: $global-font-family;
}

@mixin global-font-family() {
  font-family: $global-font-family;
}

@mixin global-box-shadow() {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
}
