:root {
  --font: Roboto, sans-serif;
  --font-headline: Lora, serif;
  --bold: 700;
  
  --white: #fff;
  --black: #000;
  --soft-white: rgba(255, 255, 255, .96);
  --soft-black: rgba(0, 0, 0, .96);
  --color: var(--soft-black);

  // https://trendypalettes.com/palette/298
  --primary-hue: 184;
  --primary-sat: 74%;
  --primary-light: 23%;
  --secondary-hue: 158;
  --secondary-sat: 29%;
  --secondary-light: 58%;
  --tertary-hue: 0;
  --tertary-sat: 7%;
  --tertary-light: 91%;
}