:root {
  --font: Roboto, sans-serif;
  --font-headline: Lora, serif;
  --color-white: #fff;
  --color-black: #000;
  --color-soft-white: rgba(255, 255, 255, .96);
  --color-soft-black: rgba(0, 0, 0, .96);
  --color-background-hue: 200;
  --color-background: hsl(200, 33%, 98%);
}