///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$inuit-wrapper-width: 1132px;


$inuit-font-size-h1:  36px;
$inuit-font-size-h2:  28px;
$inuit-font-size-h3:  24px;
$inuit-font-size-h4:  20px;
$inuit-font-size-h5:  18px;
$inuit-font-size-h6:  16px;


$mq-breakpoints: (
  mobile:  425px,
  tablet:  768px,
  desktop: 1024px,
  wide:    $inuit-wrapper-width
);
