///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$inuit-wrapper-width: 1132px;

$inuit-font-size-h1:  36px;
$inuit-font-size-h2:  28px;
$inuit-font-size-h3:  24px;
$inuit-font-size-h4:  20px;
$inuit-font-size-h5:  18px;
$inuit-font-size-h6:  16px;

$font-family: 'Lora', serif !default;

$global-radius: 3px !default;



// Colors

$white: #fff !default;
$black: #000  !default;

$navy:              #04244C !default;
$midnight-blue:     #050C1C !default;
$cadet-blue:        #509E86 !default;
$dark-slate-gray:   #32623F !default;
$dark-slate-green:  #306968 !default;



// Mixins

@mixin font-family() {
  font-family: $font-family;
}
