.primary {
  --primary: hsl(var(--primary-hue), var(--primary-sat), var(--primary-light));
}

.primary-bg {
  composes: primary;
  background-color: var(--primary);
}

.secondary {
  --secondary: hsl(
    var(--secondary-hue),
    var(--secondary-sat),
    var(--secondary-light)
  );
}

.secondary-bg {
  composes: secondary;
  background-color: var(--secondary);
}

.tertary {
  --tertary: hsl(var(--tertary-hue), var(--tertary-sat), var(--tertary-light));
}

.tertary-bg {
  composes: tertary;
  background-color: var(--tertary);
}
