.root {
  display: block;
  position: relative;
}

.ratio {
  height: 0;
  padding-top: 100%;
}

.images {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.pre {
  composes: images;
  opacity: 1;
  transition: opacity .6s;
  z-index: 1;

  .loaded & {
    opacity: 0;
  }
}

.picture {
  composes: images;
  opacity: 0;
  transition: opacity .2s;
  z-index: 2; 

  .loaded & {
    opacity: 1;
  }
}