.root {
  background: $black;
  height: 54px;
}

.link {
  color: $soft-white;
  display: block;

  &:not(.active) {
    text-decoration: none;
  }
}

.logo {
  display: block;
  height: 30px;
}

.fixed {
  background: $black;  
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.4);
  height: inherit;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.wrapper {
  @include inuit-clearfix();
}

.list {
  align-items: center;
  display: flex;
  float: left;
  margin-bottom: 0;
}
