.nav {
  height: 64px;
  background: $black;

  a {
    display: block;
  }
}

.nav__fixed {
  position: fixed;
  height: inherit;
  width: 100%;
  background: $black;  
  z-index: 2;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.4);
}

.nav__inner {
  @include inuit-clearfix();
  max-width: $content-width;
  margin: auto;
  color: $white;
  padding: 16px 0;
  font-size: 14px;

  li {
    list-style: none;
  }
}

.nav__main {
  margin: 0;

  > li {
    line-height: 30px;
    float: left;
    margin-right: 24px;
  }
}

.nav__user {
  float: right;
  margin: 0;
}

.nav__user-icon {
  fill: $white;
  height: 24px;
  width: 24px;
  background: red;
  border-radius: 50%;
  padding: 3px;
  display: block;
}