.root {
  background: $black;
  height: 64px;
  
  a {
    display: block;
  }
}

.fixed {
  background: $black;  
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.4);
  height: inherit;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.wrapper {
  @include inuit-clearfix();
  color: $white;
  font-size: 14px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.list {
  > li {
    float: left;
    line-height: 30px;
    margin-right: 24px;
  }
}

.user {
  float: right;
}

.user-icon {
  background: red;
  border-radius: 50%;
  display: block;
  fill: $white;
  height: 24px;
  padding: 3px;
  width: 24px;
}