.list {
  composes: oListBare from 'inuitcss/objects/_objects.list-bare.scss';
  display: grid;
  grid-gap: $inuit-global-spacing-unit;
  grid-template-columns: repeat(5, 1fr);
}

.item {
  text-decoration: none;
}