.titles {
  composes: uMarginBottom from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: fontHeadline from "../../_utilities.fonts.scss";
  @include inuit-font-size($inuit-font-size-h5);
  display: block;
  font-weight: var(--bold);
}

.list {
  composes: oListBare from 'inuitcss/objects/_objects.list-bare.scss';
  display: grid;
  grid-gap: $inuit-global-spacing-unit;
  // grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-template-columns: repeat(5, 1fr);
}