.list {
  composes: uMarginBottomLarge from 'inuitcss/utilities/_utilities.spacings.scss';
  composes: oListBare from 'inuitcss/objects/_objects.list-bare.scss';
  display: grid;
  grid-gap: $inuit-global-spacing-unit;
  grid-template-columns: repeat(5, 1fr);

  @include mq($until: wide) {
    grid-template-columns: 24px repeat(5, calc(29% - 48px)) 24px;
    margin-left: -48px;
    margin-right: -48px;
    overflow: scroll;

    &::after,
    &::before {
      content: '';
    }
  }
}

.item {
  display: block;
  text-decoration: none;
}